.body-container {
	/* height: 100%; */
	min-height: 100%;
	margin: 0;
	min-width: 280px;
	/* overflow:hidden; */
	position: relative;
	padding: 0;
}

.content {
	min-height: 100%;
	width: 100%;
	background: #FFF;
}

.widget {
	position: relative;
	margin: 0 0 1em;
	border-left: 1px solid #E5E5EB;
	border-top: 1px solid #E5E5EB;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.17);
	background: #FFF;
}

.content.left-menu__active {
	position: fixed;
	overflow: hidden;
}

.top-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: left;
	-ms-flex-pack: justify;
	justify-content: left;
	border-bottom: 1px solid #DDD;
	background: #F3F3F3;
	line-height: 1em;
	font-size: 1.2em;
}

.th-left, .th-right {
	/* width: 6.33333em; */
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.th-button {
	display: inline-block;
	font-size: 1.5em;
	width: 2em;
	padding: 0.5em;
	text-align: center;
	position: relative;
	line-height: 1em;
}

.th-button:hover {
	background: #dddddd;
	color: #696969;
}

.th-button:active {
	background: #c3c3c3;
	color: #FFF;
}

.th-title {
	display: inline-block;
	font-size: 1.5em;
	padding: 0.5em 0.5em 0.5em 0.5em ;
	text-align: center;
	position: relative;
	line-height: 1em;
	border-left: 1px solid #DDD;
	color: #58584f;
}

@media (max-width: 768px) {
	.th-title {
		display: none;
	}
}

.search-form {
	position: relative;
	margin: 1em;
	font-size: 1em;
}

.search-form .sf-input {
	width: 100%;
	border-radius: 2em;
	border: 0 none;
	padding: 0.6em 1em 0.5em 2em;
	box-sizing: border-box;
	font-size: 0.8em;
}

.search-suggestions {
	display: none;
}

.ss-results {
	width:  100%;
	border-right: 1px solid #4F9CCC;
	box-sizing: border-box;
	border-bottom: 1px solid #78BFEA;
}

.ssr-item {
	display: block;
	background-color: #fff;
	/* height: 5em; */
	text-decoration: none;
	/* overflow: hidden; */
	/* vertical-align: top; */
	border-bottom: 1px solid #C8E9FD;
	padding: 0.25em;
}

.suggestword {
	color: red !important;
	padding: 0 !important;
}



.ssri-description {
	display: inline-block;
	width: 12em;
	/* font-size: 0.9em; */
}

.ssrid-name {
	/* color: #191919; */
	font-size: 0.83333em;
}


.ssr-count {
	padding: 0.5em;
	text-align: center;
	background: #4F9CCC;
	/* display: none; */
}

.ssr-all {
	display: block;
	margin: 0.75em 1em;
	text-align: center;
	border-radius: 2em;
	background: #59AADC;
	color: #FFF;
	padding: 0.5em;
	text-decoration: none;
}

.ss-results span.separator a {
	background-color: transparent;
	display: block;
	margin: 5px;
	height: auto;
}

.sf-button {
	position: absolute;
	left: 0.2em;
	top: 0;
	border: 0 none;
	display: block;
	font-size: 1em;
	/* height: 1.75em; */
	/* width: 1.75em; */
	text-align: left;
	padding: 0.26em 0.3em;
	background: transparent;
	color: #3D89B7;
	box-sizing: border-box;
}

.main-menu {
	margin: 0;
}

.mm-item1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.75em;
	font-size: 1.25em;
	color: #0080c9;
	border-bottom: 1px solid #C8E9FD;
}

.mm-item1.open {
	background: #59AADC;
	color: #fff;
	border-bottom: 2px solid #5798BF;
}

.mmi-link2 {
	display: block;
	padding: 1em 1em 1em 0.5em;
	margin: 0 0 0 1em;
	color: #0080c9;
	border-bottom: 1px solid #C8E9FD;
	text-decoration: none;
}

.mmi-link2:last-child {
	border-bottom: 0 none;
}

.mm-item2 {
	display: none;
	border-bottom: 1px solid #C8E9FD;
}

.section-menu {}

.sm-item1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.75em;
	font-size: 1.25em;
	color: #333;
	background: #F3F3F3;
	border-bottom: 1px solid #DDD;
}

.smi-link2 {
	display: block;
	padding: 1em 1em 1em 0.5em;
	margin: 0 0 0 1em;
	color: #0080c9;
	border-bottom: 1px solid #C8E9FD;
	text-decoration: none;
}

.left-menu {
	display: none;
	position: absolute;
	/* top: 0; */
	width: 17em;
	max-width: 17em;
	box-sizing: border-box;
	padding: 0 0 3em;
	color: #FFF;
	height: 100%;
	/* overflow-y: auto; */
	/* overflow-x: hidden; */
	background: #4F9CCC;
}

.lm-phone {
	color: #FFF;
	background: #59AADC;
	padding: 1em 0.25em;
	font-size: 0.75em;
	text-align: center;
	border-bottom: 1px solid #4F9CCC;
}

.lmp-link {
	display: inline-block;
	padding: 0.25em 0.5em;
	color: #FFEE03;
	font-size: 1.6em;
	/* font-weight: bold; */
	text-decoration: none;
	vertical-align: middle;
	border-radius: 1em;
	background: #4F9CCC;
	white-space: nowrap;
}

.lmp-link .fa {
	color: #FFF;
	margin-right: 0.25em;
}


.top-menu {
	margin: 0 0 2em;
	/* background: #38A9F9; */
}

.tm-item1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.75em;
	font-size: 1.25em;
	color: #FFF;
	background: #4F9CCC;
	border-bottom: 1px solid #58A6D6;
	text-decoration: none;
}

.tm-item1.open {
	background: #59AADC;
	color: #fff;
	border-bottom: 2px solid #74BFEC;
}

.tmi-link1 {
	color: inherit;
	text-decoration: none;
}

.tmi-link2 {
	display: block;
	padding: 1em 1em 1em 0.5em;
	margin: 0 0 0 1em;
	color: #FFFFFF;
	border-bottom: 1px solid #74BFEC;
	/* background: #59AADC; */
	text-decoration: none;
}

.tmi-link2:last-child {
	border-bottom: 0 none;
}


.tm-item2 {
	display: none;
	border-bottom: 1px solid #6BB6E4;
	background: #5BB3E8;
}

.list-table {}

.list-table tr th {
	font-size:1.2em;
	text-align: left;
	padding: 0.5em 0.25em;
	border-bottom: 1px solid #DEE0E4;
	background-image: -webkit-linear-gradient(top,#FEFEFE 0,#FAFAFA 12%,#F5F5F5 47%,#F5F5F5 100%);
	color: #005382;
	font-weight: normal;
}

.list-table tr.fixed {
	position: fixed;
}

.list-table tr td {
	background:white;
	padding: 0.5em 0.25em;
	border-top:1px solid transparent;
	border-bottom:1px solid #f0f0f0;
	vertical-align: top;
}

.list-table.zebra tr:nth-of-type(2n+1):not(.selected) td {
	background-color: #FAFAFA;
}

.list-table tr td {
	/*cursor:pointer;*/
}
.list-table tr td h2 {
	margin-top:0px;
	color:#3bad56;
}
.list-table tr td h3,
.list-table tr td h4 {
	margin-top:0px;
}

.list-table tr.project td h3 {
	font-size: 1.8em;
}

.list-table tr.inactive td {
	background: #FFEEEE;
	opacity: 0.4;
}
.list-table tr.active:hover td {
	background:#f4f9fd;
}

.list-table tr.action td {
	cursor: default;
	padding: 0px;
}

.list-table tr.action td td {
	padding: 5px 10px 5px 0px;
	vertical-align: middle;
	border: 0px none;
}

.list-table tr.action:hover td {
	background:#FFFFFF;
}

.list-table td div.status {
	color:gray;
}

.list-table tr.selected td {
	background-color: #F3F8D9;
	border-bottom: 1px solid #C1D3A9;
}

.list-table td.code {
	font-family: 'Open Sans', sans-serif;
	color: #62CA96;
	text-align: right;
	font-size: 3em;
}

.list-table td.id span{
	display: inline-block;
	background: #EAEAEA;
	color: #A0A0A0;
	font-size: 1em;
	border-radius: 2em;
	padding: 0.2em 0.5em;
	border: 1px solid #D5D5D5;
}

.list-table td.counter span {
	display: inline-block;
	box-sizing: border-box;
	background: rgba(128, 128, 128, 0.4);
	border: 1px solid rgba(128, 128, 128, 0.7);
	border-radius: 100px;
	padding: 2px 3px;
	min-width: 24px;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0px 0px 2px rgba(0,0,0,0.7);
	text-align: center;
}

.list-table td.last-update {
	text-align: right;
}

.list-table .array-key,
.field .array-key {
	display: inline-block;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	max-width: 140px;
	padding: 3px;
	margin: 0px 2px 2px 0px;
	background: #f4fce5;
	border: 1px dashed #D5D5D5;
	color: #606060;
}

.list-table .button,
.board div.field .button {
	margin: 0px 2px;
	padding: 0.75em 1em;
	font-size: 0.9em;
	vertical-align: top;
}

.list-table.lesson .button {
	padding: 0.5em 1em;
}

.list-table td.nobr {
	overflow: hidden;
	white-space: nowrap;
}

.align-right,
.list-table .align-right,
.list-table .number {
	text-align: right;
}

.lesson .status-0 .status-title { color: #A0A0A0; }
.lesson .status-0 .status-title:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #b1d1dd;
	border-radius: 100%;
	background: #FEFEFE;
	color: #FFF;
	content: '';
}

.lesson .status-1 .status-title { }
.lesson .status-1 .status-title:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #09A2D3;
	border-radius: 100%;
	background: #63CCFD;
	color: #FFF;
	content: '';
}

.lesson .status-1.late .status-title { color: #FD5F5F; }
.lesson .status-1.late .status-title:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #FD5F5F;
	border-radius: 100%;
	background: #FFAACC;
	color: #FFF;
	content: '';
}

.lesson .status-3 .status-title { color: #287100; }
.lesson .status-3 .status-title:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #98C96B;
	border-radius: 100%;
	background: #B8E356;
	color: #FFF;
	content: '';
}
.lesson .status-2 .status-title { color: #777777; }
.lesson .status-2 .status-title:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	width: 1.4em;
	height: 1.4em;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	margin: 0em 0.3em 0 0;
	border: 1px solid #A5A5A5;
	border-radius: 100%;
	background: #D5D5D5;
	color: #FFF;
	content: '';
}
.lesson .status-4 .status-title { color: #A0A0A0; }
.lesson .status-4 .status-title:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #BDAA5E;
	border-radius: 100%;
	background: #E9D77C;
	color: #FFF;
	content: '';
}

.lesson .status-5 .status-title { color: #A0A0A0; }
.lesson .status-5 .status-title:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #BDAA5E;
	border-radius: 100%;
	background: #E9D77C;
	color: #FFF;
	content: '';
}

.client-data {}
.lesson-data {}

.cd-status-0 { color: #A0A0A0; }
.cd-status-0:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #b1d1dd;
	border-radius: 100%;
	background: #FEFEFE;
	color: #FFF;
	content: '';
}

.cd-status-3 { }
.cd-status-3:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #09A2D3;
	border-radius: 100%;
	background: #63CCFD;
	color: #FFF;
	content: '';
}

.cd-status-4 { color: #FD5F5F; }
.cd-status-4:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #FD5F5F;
	border-radius: 100%;
	background: #FFAACC;
	color: #FFF;
	content: '';
}

.cd-status-1 { color: #287100; }
.cd-status-1:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #98C96B;
	border-radius: 100%;
	background: #B8E356;
	color: #FFF;
	content: '';
}
.cd-status-2 { color: #777777; }
.cd-status-2:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	width: 1.4em;
	height: 1.4em;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	margin: 0em 0.3em 0 0;
	border: 1px solid #A5A5A5;
	border-radius: 100%;
	background: #D5D5D5;
	color: #FFF;
	content: '';
}
.cd-status-2 { color: #A0A0A0; }
.cd-status-2:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #BDAA5E;
	border-radius: 100%;
	background: #E9D77C;
	color: #FFF;
	content: '';
}


.ld-status-0 { color: #A0A0A0; }
.ld-status-0:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #b1d1dd;
	border-radius: 100%;
	background: #FEFEFE;
	color: #FFF;
	font-family: FontAwesome;
	content: '\f128';
	content: '';
}

.ld-status-2 { }
.ld-status-2:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #09A2D3;
	border-radius: 100%;
	background: #63CCFD;
	color: #FFF;
	font-family: FontAwesome;
	content: '\f00c';
	content: '';
}

.ld-status-3 { color: #FD5F5F; }
.ld-status-3:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #FD5F5F;
	border-radius: 100%;
	background: #FFAACC;
	color: #FFF;
	content: '';
}

.ld-status-1 { color: #287100; }
.ld-status-1:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #98C96B;
	border-radius: 100%;
	background: #B8E356;
	color: #FFF;
	content: '';
}

.ld-status-5 { color: #A0A0A0; }
.ld-status-5:before {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 2px;
	box-shadow: inset rgba(255,255,255,0.5) 2px 2px 5px;
	width: 1.4em;
	height: 1.4em;
	margin: 0 0.3em 0 0;
	border: 1px solid #BDAA5E;
	border-radius: 100%;
	background: #E9D77C;
	color: #FFF;
	content: '';
}


.cd-name {
	color: #0073a0;
	white-space: nowrap;
}

.cd-place {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.cd-place-0:before {
	content:'\f17e';
	color: #20bfff;
}

.cd-place-1:before {
	content:'\f007';
	color: #75ccb0;
}

.cd-place-2:before {
	content:'\f015';
	color: #e26e34;
}

.cd-place-3:before {
	content:'\f1ad';
	color: #3f7b2d;
}

.cd-short-date {
	display: inline-block;
	font-size: 0.83333em;
	color: #f980ac;
}

.cd-currency {
	font-size: 0.7em;
	vertical-align: 0em;
	opacity: 0.7;
}

.cd-cost {
	padding: 0.2em;
	background: #effff2;
	border: 1px solid #caf1ca;
	word-wrap: none;
	display: flex;
	max-width: 5em;
	flex-direction: column;
	text-align: right;
}

.cdc-cost {
	display: inline-block;
	padding-bottom: 0.1em;
	color: #2e8a4f;
	white-space: nowrap;
	border-bottom: 1px solid #caf1ca;
}

.cdc-duration {
	display: inline-block;
	font-size: 0.83333em;
	color: cadetblue;
	white-space: nowrap;
}

.cd-description {
	display: inline-block;
	/* float: right; */
	padding: 0.5em;
	background: #ffffef;
	border: 1px solid #f1ecca;
	font-size: 0.83333em;
	color: #a79160;
	vertical-align: 0.166666em;
}


.field-title {
	font-size: 0.833333em;
	color: #777;
}

.table-clients {
	width: 100%;
}

.table-clients .cd-name {
	font-size: 1.2em;
}



.client-title {}

.ct-place i.fa.fa-skype {
	color: #20bfff;
}

.ct-place i.fa.fa-user {
	color: #75ccb0;
}

.ct-place i.fa.fa-home {
	color: #e26e34;
}

.ct-place i.fa.fa-building {
	color: #3f7b2d;
}

.ct-name {
	color: #0073a0;
}

.ct-date {
	font-size: 0.4em;
	vertical-align: 1em;
	color: #f980ac;
}

.ct-description {
	display: inline-block;
	/* float: right; */
	padding: 0.5em;
	background: #ffffef;
	border: 1px solid #f1ecca;
	font-size: 0.4em;
	color: #a79160;
	vertical-align: 0.5em;
}

.ct-cost {
	display: inline-block;
	float: right;
	padding: 0.2em;
	background: #effff2;
	border: 1px solid #caf1ca;
	font-size: 0.83333em;
	text-wrap: none;
	white-space: nowrap;
}

@media (max-width: 768px) {
	.ct-cost, .ct-description {
		display: none
	}
}

.ctc-cost {
	/* display: block; */
	/* font-size: 0.7em; */
	color: #2e8a4f;
}

.ctc-duration {
	/* display: block; */
	font-size: 0.6em;
	color: cadetblue;
}

.client-form {}

.cf-tab-content {
	padding: 1em;
	border: 1px solid #E5E5E5;
	border-top: 0 none;
}

.lesson-table {}

.ld-date {
	color: #0066cc;
}

.ld-time {
	color: #046BCA;
}

.lesson-items {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: -0.25em;

}

.li-item {
	margin: 0.25em;
	border: 1px solid #EEE;
	width: 13em;
	position: relative;
}

.lii-client {
	padding: 0.25em;
	/* font-size: 1.25em; */
	border-bottom: 1px solid #EEE;
	background: #FAFAFA;
	overflow: hidden;
	white-space: nowrap;
}

.lii-data {
	display: flex;
	justify-content: space-between;
}

.liid-date {
	width: 6em;
	text-align: center;
}

.liid-duration-cost {
	padding: 0.75em;
	text-align: right;
}

.timetable-lesson-items {
	/* display: flex; */
	/* justify-content: flex-start; */
	/* flex-wrap: wrap; */
	/* margin: -0.25em; */
}

.tli-item {
	border: 1px solid #DDD;
	border-bottom: 1px solid #D5D5D5;
	width: 13em;
	box-sizing: border-box;
	background: #FFF;
	position: absolute;
	box-shadow: rgba(0,0,0,0.1) 1px 2px 10px 0px;
	z-index: 2;
	margin-left: -1px;
	cursor: pointer;
}

.tli-item.active {
	z-index: 3;
}

.tlii-status {
	position: absolute;
	font-size: 0.6667em;
	right: 0.10em;
	top: 0.33333em;
}

.tliid-client {
	/* padding: 0.25em; */
	font-size: 0.83333em;
	/* border-bottom: 1px solid #EEE; */
	/* background: #FAFAFA; */
	overflow: hidden;
	/* white-space: nowrap; */
	box-sizing: border-box;
	width: 14em;
	height: 100%;
}

.tlii-data {
	display: flex;
	justify-content: flex-start;
	height: 100%;
	box-sizing: border-box;
	padding: 0.25em;
}

.tliid-time {
	/* width: 5em; */
	/* height: 2.5em; */
	margin: 0 0.25em 0 0;
	padding-right: 0.25em;
	text-align: left;
	box-sizing: border-box;
	border-right: 1px solid #eee;
	cursor: pointer;
}

.tliid-duration-cost {
	padding: 0.75em;
	text-align: right;
}

.tlii-toolbar {
	background: #f7f8f9;
	padding: 0.25em;
	/* border-top: 1px solid #b0d6fd; */
	border: 1px solid #d5d5d5;
	margin: 0 -1px;
	/* box-shadow: rgba(0,0,0,0.15) 3px 3px 15px; */
	/* z-index: 4; */
	/* position: absolute; */
	display: none;
}

.tli-item.active .tlii-toolbar {
	display: block;
}

.ui-resizable-resizing .tlii-data .ldc-duration {
	font-size: 1.5em;
}

.timetable-busy-time-items {
	/* display: flex; */
	/* justify-content: flex-start; */
	/* flex-wrap: wrap; */
	/* margin: -0.25em; */
}

.tbti-item {
	background: #fff0f0;
	z-index: 1;
}


.ld-time-hour {
	font-weight: bold;
	font-size: 2em;
	color: #ca7895;
}

.ld-time-minute {
	color: #c18a8a;
	vertical-align: 0.75em;
	font-weight: bold;
	text-decoration: underline;
}

.ld-cost {
	padding: 0.2em;
	background: #effff2;
	border: 1px solid #caf1ca;
	word-wrap: none;
	display: flex;
	max-width: 5em;
	flex-direction: column;
	text-align: right;
}

.ldc-cost {
	display: inline-block;
	padding-bottom: 0.1em;
	color: #2e8a4f;
	white-space: nowrap;
	border-bottom: 1px solid #caf1ca;
}

.ld-currency {
	font-size: 0.7em;
	opacity: 0.7;
}

.ldc-duration {
	display: inline-block;
	font-size: 0.83333em;
	color: cadetblue;
	white-space: nowrap;
}

.ld-week-input {
	font-size: 1.5em;
	padding-left: 1.2em;
	color: #5986ae;
	border-color: transparent;
}

.week {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	/* padding: 1em; */
}

.w-day {
	width: 13em;
	margin: 0 auto 1em;
	border: 1px solid #EDEDD4;
}

.wd-title {
	width: 100%;
	font-size: 2em;
	color: #59869c;
	padding: 0.25em 0.125em;
	background: #FDFDE4;
	border-bottom: 1px solid #EDEDD4;
}

.wdt-date {
	font-size: 0.5em;
	vertical-align: 0.75em;
	color: #0585ad;
}

.wd-hour {
	height: 3em;
	border-bottom: 1px solid #EDEDD4;
}

.wd-hour[data-hour="7"] {
	border-top: 0 none;

}

.wd-hour[data-hour="8"],
.wd-hour[data-hour="10"],
.wd-hour[data-hour="12"],
.wd-hour[data-hour="14"],
.wd-hour[data-hour="16"],
.wd-hour[data-hour="18"],
.wd-hour[data-hour="20"],
.wd-hour[data-hour="22"] {
	background: #fafff3;
}

.wd-hour:before {
	display:block;
	position:absolute;
	font-size: 1.2em;
	color: #D5D5D5;
	padding-left: 0.25em;
}

.wd-hour[data-hour="7"]:before { content: '07'; }
.wd-hour[data-hour="8"]:before { content: '08'; }
.wd-hour[data-hour="9"]:before { content: '09'; }
.wd-hour[data-hour="10"]:before { content: '10'; }
.wd-hour[data-hour="11"]:before { content: '11'; }
.wd-hour[data-hour="12"]:before { content: '12'; }
.wd-hour[data-hour="13"]:before { content: '13'; }
.wd-hour[data-hour="14"]:before { content: '14'; }
.wd-hour[data-hour="15"]:before { content: '15'; }
.wd-hour[data-hour="16"]:before { content: '16'; }
.wd-hour[data-hour="17"]:before { content: '17'; }
.wd-hour[data-hour="18"]:before { content: '18'; }
.wd-hour[data-hour="19"]:before { content: '19'; }
.wd-hour[data-hour="20"]:before { content: '20'; }
.wd-hour[data-hour="21"]:before { content: '21'; }
.wd-hour[data-hour="22"]:before { content: '22'; }

.wdh-half:first-child {
	height: 1.5em;
	border-bottom: 1px solid #EEE;

}

.ta-center {
	text-align: center;
}

@media (min-width: 0px) {
	.navbar-nav {
		float: left;
		margin: 0;
	}
}